*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-secondary{
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border-color:#FD6E0A;
    height: 64px;
    padding: 17px 24px;
    background: transparent;
   
}
.btn-primary{
    height: 64px;
    padding: 0 35px 0 35px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-right: 30px;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom,left;
    padding-top: 30px;
}
.header-nav{
    font-size: 45px;
    font-weight: 800;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px 0 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
 nav li{
    list-style: none;
  margin-left: 50px;
}
.banner-section{
    display: flex;
    align-items: center;
    margin: 0 50px 0 200px;
}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
    margin-top: 5px;
}
.banner-title{
    font-size: 65px;
    font-weight: 600;
}
.banner-paragraph{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
/* about style section */
.about-me{
    margin: 130px 230px;
    background-color: #FFF8F3;
    padding-bottom: 30px;
}
.common-heading{
   color: #181818;
   font-size: 35px;
   text-align: center;
   font-weight: 700;
   padding-top: 100px;
}
.aboutMe-descriptions{
    color: #757575;
    padding: 30px 100px 30px 100px;
    font-size: 12px;
    text-align: center;
}
.about-info{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 0 100px 0 115px;
}
.about-description{
    text-align: center;
}
.icon{
    margin-right: 10px;
}
.telephon{
    margin-right: 10px;
}
/* What i do section */
.common-heading2{
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.paragraph{
    color: #757575;
    padding: 20px 340px 20px 340px;
    font-size: 12px;
    text-align: center;
}
.about-paragraph{
    color: #757575;
    font-size: 10px;
    font-weight: 400;
}
.what-do{
    display: flex;
    gap: 20px;
    padding: 30px 230px 30px 230px;
   
    padding-right: 20px;
    margin-bottom: 30px;
    }
.about-js{
    color: #181818;
    padding: 20px 63px 20px 5px;
    font-size: 10px;
    font-weight: 700;
}
.shadow{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 150px;
    height: 190px;
    padding: 30px 30px;
    border-radius: 10px;
    background-color: #FFF;
}
/* summary section */
.summary-section{
    color: #FFF;
    margin: 0 250px 0 230px;
    display: flex;
    gap: 50px;
   
}
.summary-heading{
    text-align: center;
    font-size: 40px;
    color: #181818;
    font-weight: 700;
    margin-bottom: 70px;
    margin-top: 80px;
}
.summary-heading3{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 30px;
}
.summary-heading5{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}
.summary-para1{
    color: #757575;
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}
.summary-para2{
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    width: 400px;
}
.horijontal{
    color: #D1D1D1;
    width: 350px;
    margin-top: 25px;
}
.CV-Download{
    color: #FFf;
    background-color: #FD6E0A;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    height: 50px;
    margin: 50px 600px 100px 600px;
}
/* footer section */
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #FFF8F3;
    padding: 130px 230px 120px 230px;
}
.footer-connect{
   color: #181818;
   font-size: 25px;
   font-weight: 700;
   margin-bottom: 20px;
}
.footer-para{
    color: #474747;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;

}
.footer-heading{
    color: #181818;
    font-weight: 700;
    font-size:25px;
    margin-bottom: 30px;
}
.footer-icon{
    display: flex;
    gap: 24px;
}
input[type="text"]{
    margin-bottom: 24px;
    padding: 15px 15px ;
    height: 15px;
    width: 250px;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
}
input[type="email"]{
    margin-bottom: 24px;
    padding: 15px 15px ;
    height: 15px;
    width: 250px;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
}
textarea{
    padding: 15px 15px ;
    background-color:#FFF ;
    border: none;
    height: 90px;
    width: 250px;
    resize: none;
}





